/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.box{
	height: 2000px;
	width: 200px;
	float: left;
	padding: 10px;
	color: white;
}

.large-box{
	height: 500px;
	width: 40%;
	float: left;
	padding: 10px;
}


.container{
	float: left;
	width: 100%;
	height: auto;
}
